main{
    width: 90%;
    height: 450px;
    margin: auto;
}
h1{
    text-align: center;
}

#bg{
    background-image: url(imagem/bg_carteirinha.jpg);
    width: 40%;
    height: 450px;
    float: left;
}

#formulario1{
    width: 30%;
    height: auto;
    float: left;

}

#formulario2{
    width: 30px;
    height: auto;
    float: left;
}